.addClassContainer {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
  }
  
  form {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  
  label {
    margin-top: 10px;
  }
  
  input {
    margin-left: 10px;
    padding: 5px;
  }
  
  button {
    margin-top: 10px;
    padding: 5px 10px;
  }
  
  .popup {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: flex;
    justify-content: center;
    align-items: center;
  }
  
  .popup p {
    color: white;
    font-size: 24px;
    text-align: center;
    margin-bottom: 20px;
  }
  
  .popup button {
    padding: 5px 10px;
    border-radius: 5px;
    background-color: #ccc;
    border: none;
    cursor: pointer;
  }
  